services:

  # nginx:
  #   build: ./frontend
  #   ports:
  #     - "8082:443"
  #   depends_on:
  #     - gateway
  #   networks:
  #     - backend

  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - gateway
    networks:
      - backend

  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    env_file:
      - ./gateway/.env
    depends_on:
      - auth-service
    networks:
      - backend
  
  auth-service:
    build: ./auth-service
    expose:
      - "8081"
    networks:
      - backend
    
  user-management-service:
    build: ./user-managment
    expose:
      - "8082"
    networks:
      - backend

  livechat-service:
    build: ./chat-service
    expose:
      - "8083"
    networks:
      - backend

  pong-service:
    build: ./server-side-pong
    container_name: trascendence-pong-service
    env_file:
      - ./server-side-pong/.env
    ports:
      - "7000:7000"
    networks:
      - backend
    
  ai-service:
     build: ./ai-opponent
     container_name: trascendence-ai-service
     env_file:
        - ./ai-opponent/.env
     ports:
        - "3010:3010"
     networks:
        - backend


networks:
  backend:
    name: backend
    driver: bridge